{% extends "base.html" %}

{% block doctitle %}
Dashboard | Dashboard
{% endblock doctitle %}

{% block content %}
	{% if user.is_authenticated %}
		<div class="row">
          <h1>OKE</h1>
    </div>
	{% endif %}
{% endblock content %}