<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block doctitle %}
    {% endblock doctitle %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://connect.nos.wjv-1.neo.id/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://connect.nos.wjv-1.neo.id/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="https://connect.nos.wjv-1.neo.id/assets/demo/demo.css" rel="stylesheet" />

  <link rel="stylesheet" href="/static/css/tagsinput.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" type="text/css" media="all" />

  {% block extrastyle %}
  {% endblock extrastyle %}
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      {% include "sidebar.html" %}
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      {% include "topbar.html" %}
      <div class="content">
        
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>&nbsp;
                </li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Dailysocial ID
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="https://connect.nos.wjv-1.neo.id/assets/js/core/jquery.min.js"></script>
  <script src="https://connect.nos.wjv-1.neo.id/assets/js/core/popper.min.js"></script>
  <script src="https://connect.nos.wjv-1.neo.id/assets/js/core/bootstrap.min.js"></script>
  <script src="https://connect.nos.wjv-1.neo.id/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="https://connect.nos.wjv-1.neo.id/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Chart JS -->
  <script src="https://connect.nos.wjv-1.neo.id/assets/js/plugins/chartjs.min.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="https://connect.nos.wjv-1.neo.id/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="https://connect.nos.wjv-1.neo.id/assets/demo/demo.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>

  <script src="/static/js/tagsinput.js"></script>

  {% block extrascript %}
  {% endblock extrascript %}
 
</body>

</html>
