{% load static %}
<div class="logo">
  <a href="http://www.creative-tim.com" class="simple-text logo-mini">
    <div class="logo-image-small">
      <img src="{% static 'image/logo-small.png' %}">
    </div>
  </a>
  <a href="http://www.creative-tim.com" class="simple-text logo-normal">
    Dashboard
    <!-- <div class="logo-image-big">
      <img src="../assets/img/logo-big.png">
    </div> -->
  </a>
</div>